/* You can add global styles to this file, and also import other style files */
:root {
  /* global color */
  --primary: #dc0a2d;
  --bug: #a7b723;
  --dark: #75574c;
  --dragon: #7037ff;
  --electric: #f9cf30;
  --fairy: #e69eac;
  --fighting: #c12239;
  --fire: #f57d31;
  --flying: #70559b;
  --ghost: #70559b;
  --normal: #aaa67f;
  --grass: #74cb48;
  --ground: #dec16b;
  --ice: #9ad6df;
  --poison: #a43e9e;
  --psychic: #fb5584;
  --rock: #b69e31;
  --steel: #b7b9d0;
  --water: #6493eb;
  --gray-dark: #212121;
  --gray-medium: #666666;
  --gray-light: #e0e0e0;
  --gray-bg: #efefef;

  /* global shadow */
  --drop-shadow-2dp: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  --drop-shadow-6dp: 0 3px 12px 3px rgba(0, 0, 0, 0.2);
  --drop-inner-2dp: inset 0 1px 3px 1px rgba(0, 0, 0, 0.25);
}
