.filter {
  &-wrapper {
    height: 32px;
    display: flex;
    gap: 1rem;
    width: 100%;
    ::ng-deep {
      app-input {
        flex: 2;
      }
      .sort-dropdown {
        flex: 0.9;
      }
      .dir-dropdown {
        flex: 0.7;
      }
      .type-dropdown {
        flex: 1.2;
      }
    }
  }
}
